
/* HEADER */
.header__logo{
    width: 50px;
}

/* MAIN */
.principal{
    margin-top: 70px;
}

/* .formuContacto{
    background-image: url("../images/imagen9.JPEG"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
} */

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.card img {
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns2 {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns3 {
        column-count: 2;
    }
}

/* .bg-image {
    background-image: url('../images/imagen8.JPEG');
    background-size: cover;
    background-position: center;
    height: 100vh;
  } */

.bg-form {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.bg2-form {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.bg3-form {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 767px) {
    .bg-form {
        margin-top: 0;
    }
}

.carousel{
    height: 600px;
}

.carousel-item img {
    max-height: 600px; /* Modifica el valor según tu necesidad */
}

.carousel + .pruebaMargen {
    margin-top: -150px;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 600px;
    }

    .carousel + .pruebaMargen {
        margin-top: -100px;
    }

    .card{
        margin-bottom: 50px;
    }
}

.introduccion {
    margin-bottom: 50px;
}

.centered-text {
    text-align: center;
}

.header{
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
}

.ocultar_parrafo{
    display: none;
}

.button-image {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.button-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.noReserva{
    display: block;
    margin: auto;
    text-align: center;
}

@media (max-width: 767px) {
    .noReserva{
        display: block;
        margin: auto;
        text-align: center;
    }
}

