
/* HEADER */
.header__logo{
    width: 50px;
}

/* MAIN */
.principal{
    margin-top: 70px;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.card img {
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

.bg-form {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.bg2-form {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.bg3-form {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('../images/fondoSesion.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.carousel{
    height: 600px;
}

.carousel-item img {
    max-height: 600px; /* Modifica el valor según tu necesidad */
}

.carousel + .pruebaMargen {
    margin-top: -150px;
}

.introduccion {
    margin-bottom: 50px;
}

.centered-text {
    text-align: center;
}

.header{
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
}

.ocultar_parrafo{
    display: none;
}

.button-image {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.button-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.noReserva{
    display: block;
    margin: auto;
    text-align: center;
}

.noOpiniones{
    display: block;
    margin: auto;
    text-align: center;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns2 {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns3 {
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .bg-form {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 600px;
    }

    .carousel + .pruebaMargen {
        margin-top: -100px;
    }

    .card{
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .noReserva{
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .noOpiniones{
        display: block;
        margin: auto;
        text-align: center;
    }
}

/* LOGIN */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

/*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
*/

#login {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat #ffd280*/
    background: linear-gradient(to top, #ffd280 10%, #aee5ff 90%) no-repeat; 
}

.wrapper {
    max-width: 550px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.tituloLogin {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    color: blue;
    font-style: italic
}

.subtituloLogin {
    font-family: 'Poppins', sans-serif
}

.input-field-login {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid blue;
    color: blue
}

.input-field-login:hover {
    color: blue;
    border: 1px solid blue;
}

.inputLogin {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}

/* .fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
} */

/* a {
    text-decoration: none;
    color: #400485;
    font-weight: 700
} */

/* a:hover {
    text-decoration: none;
    color: #7b4ca0
} */

.btn.btn-block {
    border-radius: 20px;
    background-color: blue;
    /* #400485 */
    color: #fff
}

.btn.btn-block:hover {
    background-color: #55268be0
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px;
        margin-top: 90px;
    }

}