
/* HEADER */
.header__logo{
    width: 50px;
}

/* MAIN */
.principal{
    margin-top: 70px;
}

#body{
    background-image: url("../images/imagen8.JPEG"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.card img {
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns2 {
        column-count: 1;
    }
}